<div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]" /></div>
<div class="large-10 columns">
    <h4><strong>{{userpersonname.username}}</strong></h4>
    <!-- <p>Description: {{ name.description }}</p> -->
    <!-- <ul class="inline-list">
        <li>Host: {{ name.host.name }}</li>
        <li>Date: {{ name.date }}</li>
    </ul> -->
    <h6>Comments</h6>
    <ul>
      <li>loved it</li>
      <li>super fun</li>
      <li>can't wait to do it again</li>
    </ul>
</div>
